.vscode
node_modules
tmp
coverage

*.ts
!*.d.ts
src/**/*.spec.*

.editorconfig
.travis.yml
eager-loading-in-angular-2.md
karma.conf.js
karma.init.js
rollup.config.js
rollup-test.config.js
tsconfig.json
tsconfig-test.json
tslint.json
yarn.lock

src/test-root.*
